.text-align-right {
  text-align: right;
}

.icon {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  align-items: center;
  &.-love {
    color: red;
  }
}

li > p {
    margin-top: 0;
    margin-bottom: 0;
}

li {
  margin-bottom: 5px;
}
